@import 'src/styles/global';

.itemDetailContainer {
  padding: 1em;
}

.itemTitle {
  font-size: 30px;
  font-family: 'RopaSans', serif;
  padding: 0.5em 0;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $grey20;
  min-height: 230px;

  @include desktop {
    min-height: 300px;
  }

  & > img {
    width: 100%;
    max-width: 115px;

    @include desktop() {
      max-width: 200px;
    }
  }
}

.priceContainer {
  display: flex;
  align-items: center;

  .price {
    font-family: 'RopaSans', serif;
    font-size: 36px;
    padding: 0.5em 0;
    font-style: italic;
    margin-right: 25px;
  }

  .chipDeal {
    padding: 0.3em 0.5em;
    background-color: cornflowerblue;
    color: white;
    font-size: 14px;
    border-radius: 5px;
  }

}

.itemDescription {
  font-size: 18px;
  padding: 1em 0;
}

