@import 'src/styles/global';

.buttonAddToCart {
  @include userSelect;
  @include button;
}

.primary{
  background-color: $primaryColor;
}
.secondary{
  background-color: $secondaryColor;
  color: white;
}

.disabled{
  background-color: $grey;
  color: white;
}
