@import 'src/styles/global';

.showUserContainer {
  //background-color: $primaryColor;
  border: 3px solid $primaryColor;
  margin: 1em;
  border-radius: 16px;
  padding: 1em;

  h4{
    font-size: 22px;
    margin-bottom: 10px;
    font-family: 'RopaSans', serif;
  }

  p{
    font-size: 18px;
    margin-bottom: 5px;
    font-style: italic;
  }

}


