@import 'src/styles/global';

.cartTotalPriceContainer {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
  box-shadow: 0px -1px 10px 0px #00000040;
  padding: 1em;
  @include desktop{
    left: 0;
    padding: 1em 6em;
  }
}

.totalTitle {
  display: flex;
  justify-content: space-between;
  font-size: 26px;
  font-family: 'RopaSans', serif;
  margin-bottom: 1em;
}
