//Breakpoints
$small: 576px;
$medium: 768px;
$large: 992px;
$extraLarge: 1200px;

//Colors
$primaryColor: #9EF01A;
$secondaryColor: #38B000;
$grey: #d9d9d9;
$grey20: #eeeeee;



@mixin mobile {
  @media only screen and (max-width: $small) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: $medium) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $small) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: $extraLarge) {
    @content;
  }
}


@mixin userSelect{
  user-select: none;
  cursor: pointer;
}

@mixin button{
  font-size: 22px;
  font-family: 'RopaSans', serif;
  padding: 0.5em;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  color: black;

  @include desktop {
    max-width: 300px;
  }
}
