@import 'src/styles/global';

.navOption {
  padding: 0.7em;
  display: flex;
  border: 2px solid $primaryColor;
  border-radius: 12px;
  margin-bottom: 1em;
  align-items: center;
  min-height: 65px;

  @include desktop() {
    border-radius: 0;
    margin-bottom: 0;
    padding: 0 0.5em;
  }
}

.active {
  background-color: $primaryColor;
  @include desktop {
    text-decoration: underline black 2px;
  }
}

.isSecondary {
  @include desktop {
    background-color: $secondaryColor;
    border-radius: 12px;
  }
}
