@import 'src/styles/global';

.footerContainer {
  display: none;

  @include desktop {
    display: block;
    padding: 0.5em;
    background-color: $primaryColor;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
}
